@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Get to know Joel</h1>

<h5>A link to Quick Wits Comedy (where he performs regularly):</h5>
<div>
    <a href="https://www.qwcomedy.com/" target="_blank" rel="noopener noreferrer">Quick Wits Comedy</a>
</div>
<h5>A link to the Baconsale site</h5>
<div>
    <a href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">Bacon Sale</a>
</div>
<h5>This photo that also links to the Baconsale site when clicked:</h5>
<div>
    <a href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">
		<img src="~/img/bacon.jpg" alt="Baconsale" width="200" />
    </a>


</div>
