@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<img src="~/img/hiltonbro.jpg" />

<div>
    <a asp-controller="Home" asp-action="FilmForm">Fill this form out for Films</a>
</div>
<div>
    <a asp-controller="Home" asp-action="GetToKnow">Everything about Joel</a>
</div>